.gallery {
    margin: 0;
    padding-bottom: 20px;
    padding-top: 20px;
    font: 13px/16px 'Lucida Sans',sans-serif;
}

.box {
    float: left;
    position: relative;
    width: 33.3%;
    padding-bottom: 40%;
    
    
}
.boxInner {
    position: absolute;
    left: 25px;
    right: 25px;
    top: 25px;
    bottom: 25px;
    text-align:center;
    border: 1px solid black;
    border-radius: 10px;
}
.boxInner img {
    width: 90%;
    padding-top: 10px;
}

.admin-pic{
    padding: 10px;
    border: 1px solid black;
    max-width: 150px;
    display: block;

}

