.gallery {
    padding-bottom: 20px;
    padding-top: 20px;
    background: white;
    font: 13px/16px 'Lucida Sans',sans-serif;
}


.gallery-header {
    color: black;
    text-align: center;
    font-size:36pt;
    font-family: courier;
    line-height: 2em;
}

.sub{
    font-size: 14pt;
    margin-bottom: 50px;
}

.item{
    max-width: 100%;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
@media only screen and (max-width : 480px) {

    .gallery-header {
    margin-left: 10px;
    margin-right: 10px;
    }

    .item{
    max-width: 100%;
    }

}

@media only screen and (max-width : 650px) and (min-width : 481px) {
    /* Tablet view: 2 tiles */

    .gallery-header {
    margin-left: 10%;
    margin-right: 10%;
    }

    .item{
    max-width:100%;

    }

}
@media only screen and (max-width : 1050px) and (min-width : 651px) {

    .gallery-header {
    margin-left: 20%;
    margin-right: 10%;
    }

    .item{
    max-width: 100%;
    }
}