/*
 *Note - This stylesheet was initially taken and then heavily modified from Pure CSS's sample page
 * for a pricing table. Go check them out at purecss.io - their software is quite awesome.
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    color: #526066;
}

h2, h3 {
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-weight: 600;
}

p {
    line-height: 1.6em;
}


/*
 * -- Layout Styles --
 */

.container {
    padding-top: 100px;
    background-color: #C2EBFF;
    padding-bottom: 50px;
}

.l-centering{
	text-align: center;

}

.l-content {
    margin: 0 auto;
    padding-right: 0;
    padding-bottom: 50px;
    position: relative;
    max-width: 300px;
}


.l-box {
    padding: 0.5em 2em;
}

/*
 * -- MENU STYLES --
 * Make the menu have a very faint box-shadow.
 */
.pure-menu {
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}


/*
 * -- BANNER --
 * The top banner with the headings. By using a combination
 * of `display: table;` and `display: table-cell;`, we can
 * vertically center the text.
 */


.banner {
    background-color: #297ACC;
    text-align: center;
    background-size: cover;

    height: 200px;
    width: 100%;
    display: table;
}

    .banner-head {
        display: table-cell;
        vertical-align: middle;
        margin-bottom: 0;
        font-size: 2em;
        color: white;
        font-weight: 500;
        text-shadow: 0 1px 1px black;
    }

.home-price{   
    text-align:center;
    color: white;
    font-weight:bold;
    display: inline;
    background-color:#297ACC;
    border-radius: 5px;
    padding: 3px;
    font-size: 0.8em;

}


.footer {
    background: #111;
    color: #888;
    text-align: center;
}
    .footer a {
        color: #ddd;
    }

.pic-size {
    max-width: 300px;
    z-index: -1;
    position: static;
}

.name{
    text-align: center;
    max-width:300px;
    margin-bottom: 10px;
    
}

.name a {
    text-decoration: none;
    color: black;
}

.cart a {

    font-style: italic;
    position: static;
    padding: 5px;
    padding-bottom: 10px;
    z-index: -1;
    overflow: hidden;
    margin-bottom: -10px;
    width: 40px;
    text-align: center;

}

/*
 * -- TABLET MEDIA QUERIES --
 */


@media(min-width: 767px) {

    .banner-head {
        font-size: 4em;
    }
}

/*
 * -- PHONE MEDIA QUERIES --
 * On phones, we want to reduce the height and font-size of the banner further
 */
@media (min-width: 480px) {
    .banner {
        height: 200px;
    }
    .banner-head {
        font-size: 3em;
    }
}
