@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head {

    <link rel="stylesheet" href="~/Content/Styles/Layouts/blueimp-gallery.css">
    <link rel="stylesheet" href="~/Content/Styles/Layouts/blueimp-gallery-indicator.css">
    <link rel="stylesheet" href="/Content/Styles/Layouts/purchase.css">

}

<div class="l-centering">
    <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">

            <div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel">
                <div class="slides"></div>
                <h3 class="title"></h3>
                <a class="prev">‹</a>
                <a class="next">›</a>
            </div>
            <ol class="indicator" id="indicator"></ol>
            <!--Eventually download the appropriate plugins necessary for different filters-->
            <div id="links" class="externalThumbnails">
                <!--The "style="text-decoration:none"" prevents tiny black lines from appearing between the thumbnails,
                    which are underlines for the anchor tag.-->
                <a style="text-decoration:none" href="~/Content/Images/Uploads/0074aeaa136340a69e981b4a40099770.jpg?width=500">
                    <img class="picture" src="~/Content/Images/Uploads/0074aeaa136340a69e981b4a40099770.jpg?width=100" alt="Cherry Tree">
                </a>

                <a style="text-decoration:none" href="~/Content/Images/Uploads/07f411165e50434c9400d8f17bcd6638.jpg?width=500">
                    <img class="picture" src="~/Content/Images/Uploads/07f411165e50434c9400d8f17bcd6638.jpg?width=100" alt="Cherry Tree">
                </a>
                <a style="text-decoration:none" href="~/Content/Images/Uploads/0074aeaa136340a69e981b4a40099770.jpg?width=500">
                    <img class="picture" src="~/Content/Images/Uploads/0074aeaa136340a69e981b4a40099770.jpg?width=100" alt="Cherry Tree">
                </a>
            </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-2 zoomContainer">
            <div class="description">
                <p>
                    You might've clicked on something else, but we really, REALLY want you to buy this cherry tree. I mean
                    look at it! It's all blossomy and pretty. Why WOULDN'T you buy this tree?
                </p>
                <p>
                    Check out its splendor in all sorts of cool filters.
                </p>

                <p>
                    <div class="price"> Price:</div> $1.00
                </p>
                <div class="button-space">
                    <button class="pure-button">Buy the Stuff!</button>
                </div>
                <a href="~/BuyStuff/Index" class="tiny-print"> Back to other buyable stuff </a>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/Scripts/slimmage.js"></script>
<script src="~/Content/Scripts/js/blueimp-helper.js"></script>
<script src="~/Content/Scripts/js/blueimp-gallery.js"></script>
<!--<script src="~/Content/Scripts/js/blueimp-gallery-indicator.js"></script>-->
<script>

    var getDivWidth = function (target) {
        var hyphenProp = "width";
        var val = typeof (window.getComputedStyle) != "undefined" && window.getComputedStyle(target, null).getPropertyValue(hyphenProp);
        if (!val && target.currentStyle) {
            val = target.currentStyle[hyphenProp.replace(/([a-z])\-([a-z])/, function (a, b, c) { return b + c.toUpperCase(); })] || target.currentStyle[hyphenProp];
        }
        if (val.slice(-2) == "px") return parseFloat(val.slice(0, -2));
        return null;
    };
    window.slimmage.readyCallback = function(){
        if (window.slimmage.galleried) return;
        window.slimmage.galleried = true;


        var responsiveWidth = getDivWidth(document.getElementById('links'));

        var anchors = document.getElementById('links').getElementsByTagName('a');

        for (var i = 0; i < anchors.length; i++) {
            var img = document.createElement("img");
            window.slimmage.adjustImageSrcWithWidth(img, anchors[i].href, responsiveWidth);
            anchors[i].href = img.src;
        }
       


        var gallery = blueimp.Gallery(

            document.getElementById('links').getElementsByTagName('a'),
            {
                container: '#blueimp-gallery-carousel',
                carousel: true,
                emulateTouchEvents:false,
                indicatorContainer: '#indicator',
                slideContentClass: 'slide-content data-slimmage'
            }
            
        );

        var createZoom = function (path) {
            var mask = document.createElement("div");
            mask.classList.add("mask-div");
            var parent = document.querySelector(".zoomContainer");
            
            parent.insertBefore(mask,parent.firstChild);
            var img = document.createElement("img");
            img.src = path; 

            mask.appendChild(img);

            return [mask,img];
        };
        

        var adjustZoom = function (parent, image, original, ev) {
            var rect = original.getBoundingClientRect()
            var x = ev.pageX - rect.left - document.body.scrollLeft;
            var y = ev.pageY - rect.top - document.body.scrollTop;

            var xratio = x / original.offsetWidth;

            var xrange = image.offsetWidth - parent.offsetWidth;
            image.style.left = (xratio * -xrange) + "px";

            var yratio = y / original.offsetHeight;

            var yrange = image.offsetHeight - parent.offsetHeight;
            image.style.top = (yratio * -yrange) + "px";

            image.style.position = "relative";
        };
        
        
        (function ($) {
            var slideImages = $("img.slide-content");             for (var i = 0; i < slideImages.length; i++) {
                
                (function(){
                    var sharedData = 0
                    var img = $(slideImages[i]);
                    var imgDom = slideImages[i];
                    var zoom = null;
                    
                    img.on("mouseover mousemove", function (ev) {
                        if (zoom == null) {
                            zoom = createZoom(imgDom.src);
                        }
                        //adjust zoom here
                        adjustZoom(zoom[0], zoom[1],imgDom,ev)
                                        
                    });
                   
                    img.on("mouseout", function (ev) {
                        if (zoom != null) {
                            zoom[0].parentElement.removeChild(zoom[0]);
                            zoom = null;
                        }
                    });
                    img.on("click", function (ev) {
                        var mq = window.matchMedia("(max-width: 480px)");
                        if (mq.matches) {
                            window.location = imgDom.src;   
                        }
                    });
                })();
            };
        })(blueimp.helper)

       
        for (var i = 0; i < anchors.length; i++) {
            var inner = function (anchor, index) {
                var a = blueimp.helper(anchor);
                a.on("click", function (ev) {
                    gallery.slide(index);
                    blueimp.Gallery.prototype.preventDefault(ev);
                });
                var prevHandler = gallery.handleSlide;
                gallery.handleSlide = function (ix) {
                    prevHandler.call(this, ix);
                    if (index == ix) {
                        a.addClass("active");
                    } else {
                        a.removeClass("active");
                    }
                };

            };
            inner(anchors[i], i);
        }
        
        

        //for (var i = 0; i < anchors.length; i++) {
        //    anchors[i].setAttribute("data-slide-index", i);
        //    blueimp.helper(anchors[i]).on("click", function (ev) {
        //        var ix = parseInt(ev.currentTarget.getAttribute("data-slide-index"));
        //        console.log("Firing handler for anchor " + ix);
        //        window.gallery.slide(ix);
        //        blueimp.Gallery.prototype.preventDefault(ev);

        //    });
        //}


    };

</script>



