@model ImageResizer.Samples.Gallery.Web.ViewModels.BuyStuffViewModel

@{
    ViewBag.Title = "ImageResizerest Photo Sample";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head {
    <link rel="stylesheet" href="/Content/Styles/Layouts/pricing.css">
    <link rel="stylesheet" href="~/Content/Styles/Layouts/fontello.css">
}

<div class="banner">
    <h1 class="banner-head"><i class="icon-basket"></i>Buying Stuff with Money<br/> </h1>
</div>

<div class="cart">
    <a href="#">Cart</a>
</div>

<div class="container">
    <div class="l-centering">
        <!--Fix the centering issue now that the grid issue is resolved-->
        <!--Can slimmage be applied here?-->
        <div class="pure-g">
            @foreach (var item in Model.Images)
            {
                <div class="pure-u-1-3">
                    <div class="l-content">
                        <a href="/images/purchasepage/#">
                            <img class="pic-size" src="/Content/Images/Uploads/@item.FileName@item.EditQuery" />
                        </a>
                        <aside class="name">
                            <a href="/images/purchasepage/#">
                                <span>@item.Description</span>
                            </a>
                        </aside>
                        <div style="display:block; align-self:center;">
                            <p class="home-price">$1.00</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

    <div class="pure-u-1">
        <div class="l-box">
            <h2>Creating an Ecommerce Layout</h2>

            <p>
                This page was made with thanks to Pure and its fabulous grid system.
            </p>

        </div>
    </div>
