@model ImageResizer.Samples.Gallery.Web.ViewModels.HomeViewModel

@{
    ViewBag.Title = "ImageResizer Responsive Photo Gallery Sample";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pure-g">
    <div class="text-box pure-u-1 pure-u-med-2-3 pure-u-lrg-3-4">
        <div class="l-box">
            <h1 class="text-box-head">Photos from around the world</h1>
            <p class="text-box-subhead">A collection of beautiful photos gathered from Unsplash.com.</p>
        </div>
    </div>

@foreach (var item in Model.Images) {
    <div class="photo-box pure-u-1 pure-u-med-1-2 pure-u-lrg-1-3">
        <a href="#">
            <img src="/Content/Images/Uploads/@item.FileName" />
        </a>
        <aside class="photo-box-caption">
            <span>by <a href="#">@item.Author</a></span>
        </aside>
    </div>
}
    <div class="pure-u-1 form-box">
        <div class="l-box">
            <h2>Submit a Photo</h2>

            <form method="post" action="@Url.Action("upload")" enctype="multipart/form-data" class="pure-form pure-form-stacked" >
                <input type="file" name="file" placeholder="Photo URL" required>
                <input type="text" name="author" placeholder="Author" required>
                <button type="submit" class="pure-button">Submit</button>
            </form>
        </div>
    </div>

    <div class="pure-u-1">
        <div class="l-box">
            <h2>Creating a Photo Gallery Layout</h2>

            <p>
                This page shows how to make a photo gallery using <a href="">Pure Grids</a>. Using Pure, we can create interesting layouts such as this photo gallery. This layout is fully responsive. We've added a bit of custom media queries on top of the responsive grid provided by Pure.
            </p>

            <p>
                We've also taken advantage of <a href="">Pure Forms</a> and <a href="">Pure Menus</a>. This example uses a form with the <code>pure-form</code> class name to create an inline form. We use <a href="">Pure Buttons</a> for the button styling.
            </p>
        </div>
    </div>
</div>