@model ImageResizer.Samples.Gallery.Web.ViewModels.HomeViewModel

@{
    ViewBag.Title = "ImageResizer Responsive Photo Gallery Sample";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head {
    <link rel="stylesheet" href="/Content/Styles/Layouts/photogal.css">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
}
<div class="gallery">
    <h1 class="gallery-header"> Welcome to the Photo Gallery</h1>
    <h2 class="gallery-header sub"> Images supplied by Unsplash.com</h2>
    <div class="wrap">

        @foreach (var item in Model.Images)
        {
            <div class="box">
                <div class="boxInner">
                    <a href="/images/detail/@item.Id">
                        <img src="/Content/Images/Uploads/@item.FileName@item.EditQuery?width=400&height=400&mode=pad&bgcolor=black" />
                    </a>
                    <div class="titleBox">@item.Author</div>
                </div>
            </div>
        }
        
    </div>

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script type="text/javascript">
        $(function(){
          if ('ontouchstart' in window)
          {
              $('body').removeClass('no-touch').addClass('touch');
              $console.log("it happened");

            $('div.boxInner img').click(function(){
              $(this).closest('.boxInner').toggleClass('touchFocus');
            });
          }
        });
    </script>

</div>


<div class="pure-u-1">
    <div class="l-box">
        <h2>Creating a Photo Gallery Layout</h2>

        <p>
            This page shows how to make a photo gallery using <a href="">Pure Grids</a> and Slimmage.
    </div>
</div>
