@model ImageResizer.Samples.Gallery.Web.ViewModels.ImageResizerestViewModel

@{
    ViewBag.Title = "ImageResizerest Photo Sample";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head {
    <link rel="stylesheet" href="/Content/Styles/Layouts/gallery.css">
    <link rel="stylesheet" href="/Content/Styles/Layouts/gallery-grid.css">
}

<div class="pure-g">
    <div class="text-box pure-u-1">
        <div class="l-box">
            <h1 class="text-box-head">Checkout the new layout, dude</h1>
            <p class="text-box-subhead">Same photos, but with masonry applied. Go on - click on one.</p>
        </div>
    </div>

    @foreach (var item in Model.Images)
    {
        <div class="photo-box pure-u-1 pure-u-med-1-2 pure-u-lrg-1-3">
            <a href="/images/detail/@item.Id">
                <img src="/Content/Images/Uploads/@item.FileName@item.EditQuery" />
            </a>
            <aside class="photo-box-caption">
                <span>by <a href="#">@item.Author</a></span>
            </aside>
        </div>
    }

    <div class="pure-u-1">
        <div class="l-box">
            <h2>Creating a Photo Gallery Layout</h2>

            <p>
                This page was made with thanks to Pure and its fabulous grid system.
            </p>

        </div>
    </div>
</div>