@model ImageResizer.Samples.Gallery.Web.ViewModels.ImageResizerestViewModel
@using ImageResizer.Samples.Gallery.Web.Models
@using ImageResizer
@{
    ViewBag.Title = "ImageResizer Responsive Photo Gallery Sample";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@helper SizedImage(Image i, int width) {
    var query = new Instructions(i.EditQuery ?? "");
    query.Width = width;

    var originalSize = new System.Drawing.Size(i.StoredWidth, i.StoredHeight);
    var estimatedSize =  ImageBuilder.Current.GetFinalSize(originalSize, query);

    <img class="item" width="@estimatedSize.Width" height="@estimatedSize.Height" 
         src="/Content/Images/Uploads/@i.FileName@query.ToQueryString()" />
}


         @section head {><link rel="stylesheet" href="/Content/Styles/Layouts/imageresizerest.css">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
}
<div class="gallery">
    <h1 class="gallery-header"> Look at These Freaking Pictures</h1>
    <h2 class="gallery-header sub"> Freaking pictures supplied by Unsplash.com</h2>
    <div class="wrap">
        <div id="container">
            @foreach (var item in Model.Images)
            {
                //This needs something to make sure the hot air balloon picture gets more space.
                <a href="/images/detail/@item.Id">
                    @SizedImage(item, 200);
                </a>
            }
            
        </div>
    </div>

    <script src="~/Content/Scripts/slimmage.js"></script>
    <script src="~/Content/Scripts/masonry.js"></script>
    <script>
        var container = document.querySelector('#container');
        var msnry = new Masonry(container, {
            // options
            columnWidth: 200,
            itemSelector: '.item'
        });
    </script>

</div>


<div class="pure-u-1">
    <div class="l-box">
        <h2>Creating a page with Masonry</h2>

        <p>
            This page uses resizes images by height prior to appearing on the page, and applies Masonry to
            control item stacking.
    </div>
</div>