@model ImageResizer.Samples.Gallery.Web.ViewModels.AdminViewModel

@{
    ViewBag.Title = "ImageResizer Sample Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head {
    <link rel="stylesheet" href="/Content/Styles/Layouts/admin.css">
    <link rel="stylesheet" href="~/Content/Styles/Layouts/fontello.css">
}


<h1 style="text-align: center;">The Admin Page</h1>

<div class="pure-g">
    @foreach (var item in Model.Images)
    {
        <div class="box pure-u-1-2">
            <div class="boxInner">
                <img class="pure-u-1-2"src="/Content/Images/Uploads/@item.FileName@item.EditQuery?width=400" style="margin-left: 10px; margin-top: 10px;" />
                <div class="pure-u-1-2" style="margin-top: 20px;">
                    <div>Author: @item.Author </div>
                    <div>Description: @item.Description</div>
                    <form action="~/admin/delete/@item.Id" method="delete" class="pure-form">
                        <button type="submit" class="pure-button">Delete Photo</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>







<div class="pure-u-1">
    <div class="l-box">
        <h2>An Admin Page Layout</h2>

        <p>
            This page was made with thanks to Pure and its fabulous grid system.
        </p>

    </div>
</div>
